<!-- <div class="jpmm-child-container jpmm-highlight">
	<div class="jpmm-child-container-heading">
		<button type="button" class="close" data-ng-click="close('modalInstance')">
			<span class="fa fa-times" data-aria-hidden="true"></span><span class="sr-only">Close</span>
		</button>
		<span class="jpmm-bold">{{data.title}}</span>
	</div>
	<div class="jpmm-child-container-body">{{data.body}}</div>
	<div class="jpmm-child-container-footer">
		<button type="button" class="btn btn-jpmm btn-default" data-ng-click="no()">No</button>
		<button type="button" class="btn btn-jpmm btn-default pull-right" data-ng-click="yes()">Yes</button>
	</div>
</div> -->

<div class="modal">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-ng-click="close('modalInstance')"><span class="fa fa-times" data-aria-hidden="true"></span><span class="sr-only">Close</span></button>
		<h4 class="modal-title">{{data.title}}</h4>
	  </div>
	  <div class="modal-body">{{data.body}}</div>
	  <div class="modal-footer">
	  	<button type="button" class="btn btn-danger" data-ng-click="no()">No</button>
		<button type="button" class="btn btn-primary pull-right" data-ng-click="yes()">Yes</button>
	  </div>
	</div>
  </div>
</div>