<div class="modal-header">
	<button type="button" class="close" data-ng-click="close('modalInstance')">
		<span class="fa fa-times" data-aria-hidden="true"></span> 
		<span class="sr-only">Close</span>
	</button>
	<h4 class="modal-title">{{data.title}}</h4>
</div>
<div class="modal-body">
	<div class="box">
		<div class="box-header with-border">
			<span class="fa fa-hand-o-right"></span>
			<h3 class="box-title"><strong>Table of Excel Data</strong></h3>
			<h5><span class="fa fa-square icon-yellow"></span> - New values to be updated </h5>
			<h5><span class="fa fa-square icon-green"></span> - New record </h5>
			<h5><span class="fa fa-square icon-red"></span> - Invalid record </h5>
		</div>
 		<div class="box-body overflow-auto">
			<table class="table nowrap">
				<thead class="table > thead > tr > th">
					<tr>
						<th>User Name</th>
						<th>Full Name</th>
						<th>Employee Number</th>
						<th>Email-Id</th>
						<th>Modified Date</th>
						<th>Designation</th>
						<th>Upload Status</th>
						<th>Work Location</th>
						<th>Account</th>
						<th>Project</th>
						<th>Segment</th>
						<th>Allocation</th>
						<th>Allocation Start Date</th>
						<th>Allocation End Date</th>
						<th>Employee Unit</th>
						<th>CEG</th>
						<th>Primary Practice</th>
						<th>Secondary Practice</th>
						<th>Tier</th>
						<th>Core SBU</th>
						<th>Project Role</th>
						<th>Project SBU</th>
						<th>Customer</th>
						<th>Project Id</th>
						<th>Current Location</th>
					</tr>
				</thead>
				<tbody class="table > tbody > tr > td"> 
					<tr  data-ng-repeat="items in data.body.users" data-ng-class="{'bg-red-light' : !items.valid, 'bg-green-light'  : (items.valid && items.isnewRecord)}"> 
						<td data-ng-class="{'bg-yellow-light' : items._userName}" title="{{items.map1.userName}}"> {{items.userName}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._fullName}" title="{{items.map1.fullName}}">{{items.fullName}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._empId}" title="{{items.map1.empId}}">{{items.empId}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._emailId}" title="{{items.map1.emailId}}">{{items.emailId}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._modifiedDate}" title="{{items.map1.modifiedDate | date:'MMM dd,yyyy HH:mm:ss' }}">{{items.modifiedDate| date:'MMM dd,yyyy HH:mm:ss'}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._designation}" title="{{items.map1.designation}}">{{items.designation}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._uploadStatus}" title="{{items.map1.uploadStatus}}">{{items.uploadStatus}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._workLocation}" title="{{items.map1.workLocation}}">{{items.workLocation}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._account}" title="{{items.map1.account}}">{{items.account}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._project}" title="{{items.map1.project}}">{{items.project}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._segment}" title="{{items.map1.segment}}">{{items.segment}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._allocation}" title="{{items.map1.allocation}}">{{items.allocation}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._allocationStartDate}" title="{{items.map1.allocationStartDate | date:'MMM dd,yyyy HH:mm:ss'}}">{{items.allocationStartDate | date:'MMM dd,yyyy HH:mm:ss'}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._allocationEndDate}" title="{{items.map1.allocationEndDate  | date:'MMM dd,yyyy HH:mm:ss'}}">{{items.allocationEndDate | date:'MMM dd,yyyy HH:mm:ss'}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._employeeUnit}" title="{{items.map1.employeeUnit}}">{{items.employeeUnit}}</td> 
						<td data-ng-class="{'bg-yellow-light' : items._ceg}" title="{{items.map1.ceg}}">{{items.ceg}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._primaryPractice}" title="{{items.map1.primaryPractice}}">{{items.primaryPractice}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._secondaryPractice}" title="{{items.map1.secondaryPractice}}">{{items.secondaryPractice}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._tier}" title="{{items.map1.tier}}">{{items.tier}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._coreSBU}" title="{{items.map1.coreSBU}}">{{items.coreSBU}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._projectRole}" title="{{items.map1.projectRole}}">{{items.projectRole}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._projectSBU}" title="{{items.map1.projectSBU}}">{{items.projectSBU}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._customer}" title="{{items.map1.customer}}">{{items.customer}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._projectId}" title="{{items.map1.projectId}}">{{items.projectId}}</td>
						<td data-ng-class="{'bg-yellow-light' : items._currentLocation}" title="{{items.map1.currentLocation}}">{{items.currentLocation}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger btn-sm btn-flat pull-left" data-ng-click="close()">Cancel</button>
	<button type="button" class="btn btn-primary btn-sm btn-flat pull-right" data-ng-click="save()">Save</button>
</div>