<div class="content full-height">
	<div class="row full-height">
		<div class="col-md-8 col-md-offset-2 full-height">
			<div class="box box-widget widget-user-2 full-height">
				<div class="widget-user-header bg-light-blue">
					<div class="widget-user-image">
						<img class="img-circle" data-ng-src="{{user.imageUrl}}">
					</div>
					<h3 class="widget-user-username">{{user.fullName}}</h3>
					<h5 class="widget-user-desc">{{user.designation}}</h5>
				</div>
				<div data-dynamic-height data-reduce="153" class="box-body overflow-auto">
					<table class="table">
						<tbody>
							<tr>
								<td>User Name</td>
								<td><span>{{user.userName}}</span></td>
							</tr>
							<tr>
								<td>Employee ID</td>
								<td><span>{{user.empId}}</span></td>
							</tr>
							<tr>
								<td>E-mail ID</td>
								<td><span>{{user.emailId}}</span></td>
							</tr>
							<tr>
								<td>Tier</td>
								<td><span>{{user.tier}}</span></td>
							</tr>
							<tr>
								<td>CEG</td>
								<td><span>{{user.ceg}}</span></td>
							</tr>
							<tr>
								<td>Segment</td>
								<td><span>{{user.segment}}</span></td>
							</tr>
							<tr>
								<td>Work Location</td>
								<td><span>{{user.workLocation}}</span></td>
							</tr>
							<tr>
								<td>Account</td>
								<td><span>{{user.account}}</span></td>
							</tr>
							<tr>
								<td>Project</td>
								<td><span>{{user.project}}</span></td>
							</tr>
							<tr>
								<td>Project Role</td>
								<td><span>{{user.projectRole}}</span></td>
							</tr>
							<tr data-ng-if="user.project!='N/A'">
								<td>Allocation End Date</td>
								<td><span>{{user.allocationEndDate | date:'MMM dd,yyyy HH:mm:ss'}}</span></td>
							</tr>
							<tr>
								<td>Resume Upload Status</td>
								<td><span> <span class="fa fa-check"
										data-ng-show="user.uploadStatus"></span> <span
										class="fa fa-remove" data-ng-show="!user.uploadStatus"></span>
								</span></td>
							</tr>
							<tr data-ng-if="user.uploadStatus">
								<td>Modified Date</td>
								<td><span>{{user.modifiedDate| date:'MMM dd,yyyy HH:mm:ss'}}</span></td>
							</tr>						
							<tr data-ng-if="flag">
								<td>Role</td>
								<td><span><select data-ng-model="user.userRoleId" data-ng-options="role.id as role.label for role in userRoles"></select></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer" data-ng-show="flag">
					<a class="btn btn-danger btn-flat btn-sm" data-ng-href="#/admin/users">Cancel</a>
					<button type="button" class="trigger btn btn-primary btn-flat btn-sm pull-right" data-ng-click="saveUser()">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
