<div class="modal-header">
	<button type="button" class="close" data-ng-click="close('modalInstance')">
		<span class="fa fa-times" data-aria-hidden="true"></span> 
		<span class="sr-only">Close</span>
	</button>
	<h4 class="modal-title">{{data.title}}</h4>
</div>
<div class="modal-body">
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">{{data.body.title}}</h3>
			<span> ({{data.body.subTitle}})</span>
		</div>
		<div class="box-body">
			<table class="table">
				<thead>
					<tr>
						<th>S.No</th>
						<th>Name</th>
						<th>Status</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="item in data.body.status">
						<td><span>{{$index+1}}</span></td>
						<td><span>{{item.docName}}</span></td>
						<td><span>{{item.status}}</span></td>
						<td title="{{item.title}}"><span>{{item.comments}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
