<div class="modal-header">
	<button type="button" class="close" data-ng-click="close('modalInstance')">
		<span class="fa fa-times" data-aria-hidden="true"></span> 
		<span class="sr-only">Close</span>
	</button>
	<h4 class="modal-title">User Details</h4>
</div>
<div class="modal-body">
	<div class="box box-widget widget-user-2">
		<div class="widget-user-header bg-light-blue">
			<div class="widget-user-image">
				<img class="img-circle" data-ng-src="{{data.body.imageUrl}}">
			</div>
			<h3 class="widget-user-username">{{data.body.fullName}}</h3>
			<h5 class="widget-user-desc">{{data.body.designation}}</h5>
		</div>
		<div class="box-body tableTempHeight">
			<table class="table">
				<tbody>
					<tr>
						<td>User Name</td>
						<td><span>{{data.body.userName}}</span></td>
					</tr>
					<tr>
						<td>Employee ID</td>
						<td><span>{{data.body.empId}}</span></td>
					</tr>
					<tr>
						<td>E-mail ID</td>
						<td><span>{{data.body.emailId}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Work Location</td>
						<td><span>{{data.body.workLocation}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Account</td>
						<td><span>{{data.body.account}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Project</td>
						<td><span>{{data.body.project}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Allocation</td>
						<td><span>{{data.body.allocation == 0 ? "N/A" : data.body.allocation}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3 || data.body.allocation == 0">
						<td>Allocation Start Date</td>
						<td><span>{{data.body.allocationStartDate | date:'MMM dd,yyyy HH:mm:ss'}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3 || data.body.allocation == 0">
						<td>Allocation End Date</td>
						<td><span>{{data.body.allocationEndDate | date:'MMM dd,yyyy HH:mm:ss'}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Segment</td>
						<td><span>{{data.body.segment}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>CEG</td>
						<td><span>{{data.body.ceg}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Primary Practice</td>
						<td><span>{{data.body.primaryPractice}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Secondary Practice</td>
						<td><span>{{data.body.secondaryPractice}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Tier</td>
						<td><span>{{data.body.tier}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Core SBU</td>
						<td><span>{{data.body.coreSBU}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Project Role</td>
						<td><span>{{data.body.projectRole}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Project SBU</td>
						<td><span>{{data.body.projectSBU}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Customer</td>
						<td><span>{{data.body.customer}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Project ID</td>
						<td><span>{{data.body.projectId == 0 ? "N/A" : data.body.projectId}}</span></td>
					</tr>
					<tr data-ng-hide="data.body.userRoleId == 3">
						<td>Current Location</td>
						<td><span>{{data.body.currentLocation}}</span></td>
					</tr>
					<tr>
						<td>Resume Upload Status</td>
						<td>
							<span class="fa fa-check" data-ng-show="data.body.uploadStatus"></span> 
							<span class="fa fa-remove" data-ng-show="!data.body.uploadStatus"></span>
						</td>
					</tr>
					<tr data-ng-if="data.body.uploadStatus">
						<td>Modified Date</td>
						<td><span>{{data.body.modifiedDate| date:'MMM dd,yyyy HH:mm:ss'}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
