
<form name="checkoutForm" data-abide id="checkoutForm">
	<div class="row">
		<div class="twelve columns text-center">
			<img width=100 height=100 ng-src="./B2BInvoicingApp/images/logo.png">
			</div>
	</div>

	<fieldset>
		<legend>Token Information</legend>

		<div class="row">

			<label class="large-12 columns">
				Token Limit: € 1000.00			
			</label>

			<label class="large-12 columns">
				Token Expiry: 1 Month			
			</label>

			<label class="large-12 columns">
				Your Total Amount: € {{amountToPay}}
			</label>

		</div>
	</fieldset>

	<fieldset>
		<legend>Token Payment Authorization</legend>

		<div class="row">
			<div class="large-12 columns text-center">
				<label>
					<a style="width:150px" class="button round success" ng-click="ok()">Allow</a>
					<a style="margin-left:5px;width:150px" class="button round alert" ng-click="cancel()">Not Allow</a>
				</label>
			</div>
		</div>
	</fieldset>
</form>


