<!DOCTYPE html>
<html data-ng-app="clothKart">
	<head>
		<!-- Meta, title, CSS, favicons, etc. starts -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cloth Kart</title>
		<!-- Meta, title, CSS, favicons, etc. ends -->
		<!-- Library CSS starts-->
		<link href="../css/lib/bootstrap.css" rel="stylesheet">
		<link href="../css/lib/font-awesome.css" rel="stylesheet">
		<link href="../css/lib/skin-all.css" rel="stylesheet">
		<link href="../css/lib/custom.css" rel="stylesheet">
<!-- 		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.0/css/normalize.css"/> -->
<!-- 		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.0/css/foundation.css"/> -->
		<!-- Library CSS ends-->
		
		<!-- Custom CSS starts-->
		<link href="../css/style.css" rel="stylesheet">
		<!-- Custom CSS ends-->
	
	</head>
	<body class="hold-transition skin-blue sidebar-mini" data-ng-controller="mainController">
		<!-- Page Content starts -->
		<div class="wrapper" data-ng-class="{'admin' : admin}">
		<div ng-show="!admin" data-ng-include data-src="pageDetails.header"></div>
		<div data-ng-view data-dynamic-height data-reduce="101"></div>
		<div ng-show="!admin" data-ng-include data-src="pageDetails.footer"></div>
		</div>
		<!-- Page Content ends -->
	
		<!-- Javascript Files - Start -->
	
		<!-- jQuery starts -->
		<script src="../js/lib/jquery.js"></script>
		<!-- jQuery ends-->
	
		<!-- Angular starts-->
		<script src="../js/lib/angular.js"></script>
		<script src="../js/lib/angular-sanitize.js"></script>
		<script src="../js/lib/angular-route.js"></script>
		<script src="../js/lib/angular-messages.js"></script>
		<script src="../js/lib/angular-animate.js"></script>
		<!-- Angular ends-->
		
		<!-- BootStrap starts-->
		<script src="../js/lib/bootstrap.js"></script>
		<script src="../js/lib/ui-bootstrap-tpls-1.1.2.min.js"></script>
		<!-- BootStrap ends-->
		
		<!-- Custom js files starts-->
		<script src="../js/app/app.js"></script>
		<script src="../js/app/appConfig.js"></script>
		<!-- Custom js files ends-->
		
		<!-- Services starts-->
		<script src="../js/app/service/dataService.js"></script>
		<script src="../js/app/service/utilService.js"></script>
		<!-- Services ends-->
		
		<!-- Directives starts-->
		<script src="../js/app/modules/modalAlert/module.js"></script>
		<script src="../js/app/modules/modalAlert/service.js"></script>
		<script src="../js/app/modules/modalAlert/controller.js"></script>
		
		<script src="../js/app/directive/dynamicHeight.js"></script>
		<!-- Directives ends-->
		
		<!-- Controller starts -->
		<script src="../js/app/controller/mainController.js"></script>
		<script src="../js/app/controller/loginController.js"></script>
		<script src="../js/app/controller/user/productController.js"></script>
		<script src="../js/app/controller/user/paymentController.js"></script>
		<!-- Controller ends -->
		
		<!-- Javascript Files - End -->
	</body>

</html>